[run]
source = .
omit =
    */lincalc/*
    setup.py
    export_cli.py
    export_utils.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if __name__ == .__main__.:
    pass
    raise ImportError 